:root {
    --ifm-color-primary: #71b041;
    --ifm-color-primary-dark: #629b39;
    --ifm-color-primary-darker: #5c9135;
    --ifm-color-primary-darkest: #4c772c;
    --ifm-color-primary-light: #80c049;
    --ifm-color-primary-lighter: #89c553;
    --ifm-color-primary-lightest: #9ed06f;
    --ifm-code-font-size: 95%;
}

html[data-theme="dark"] {
    --ifm-background-color: #171a20;
    --ifm-card-background-color: #20252d;
    --ifm-navbar-background-color: rgb(23 26 32 / 92%);
}

.markdown img {
    border-radius: 0.75rem;
}
